.one{
    position:relative;
    background-color:beige;
    border:2px solid plum;
}
.two{
    position:sticky;
    top:20 px;
    left:13px;
    right:12px;
    width: 300px;
    border:2px solid papayawhip;
}
.three{
    position:sticky;
    background-color:peru;
    border:3px solid gray;
}